#!/bin/bash

# echo "Stop and remove previous {{ env }} containers"
docker ps -a --format {% raw %}"{{.ID}} {{.Names}}"{% endraw %} | grep -- '-{{ env }}$' | awk '{print $1}' | xargs docker stop
docker ps -a --format {% raw %}"{{.ID}} {{.Names}}"{% endraw %} | grep -- '-{{ env }}$' | awk '{print $1}' | xargs docker rm

echo "Building docker containers"
docker compose up --build -d

echo "Set up cron jobs"
containers="flask-app-{{ env }} symportal-framework-{{ env }}"
for container in $containers; do
    docker compose exec $container bash -c " \
        env >> /etc/environment && \
        service cron start && \
        crontab /app/cron/crontab"
done

echo "Copy example dataset to the Flask App"
sudo docker cp /mnt/common/smith_et_al_ISMEJ_example_data.zip symportal-flask-{{ env }}:/app/sp_app/static/resources

# Pause everything except the database service
docker compose pause nginx-{{ env }} flask-app-{{ env }} symportal-framework-{{ env }}

echo "Drop the database and restore from backup"
docker compose exec database-{{ env }} \
    psql -U postgres \
     -c "DROP SCHEMA public CASCADE; \
         CREATE SCHEMA public; \
         GRANT ALL ON SCHEMA public TO postgres; \
         GRANT ALL ON SCHEMA public TO public; \
         DROP DATABASE postgres;"

docker compose exec -T database-{{ env }} psql \
    -U postgres -d postgres < ./database/backup.sql
echo "Done!"

docker compose unpause nginx-{{ env }} flask-app-{{ env }} symportal-framework-{{ env }}
